<div class="mainview">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" >
      <%= link_to image_tag("virtual-reality-glasses.svg", class: 'd-inline-block align-top'), entertainments_path %>
      Entertainment
    </a>

    <a class="navbar-brand">
      <%= link_to image_tag("virtual-reality.svg", class: "d-inline-block align-top"), fourds_path %>
      4D
    </a>

    <a class="navbar-brand">
      <%= link_to image_tag("vr-glasses.svg", class: "d-inline-block align-top"), networks_path %>
      Navigation
    </a>
  </nav>
</div>
